<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Información dispositivo</title>
    <style>
      body{
            background-color: #E4C290;
            padding-top: 18%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>Información de tu dispositivo</h3>
    {% load user_agents %}

    <!-- Otra forma de mostrarlo en vez de ponerlo en las vistas -->
    {% if is_pc %}
    <p>Estás usando un PC</p>
    {% endif %}
    {% if is_mobile %}
    <p>Estás usando un Móvil</p>
    {% endif %}
    {% if is_tablet %}
    <p>Estás usando una Tablet</p>
    {% endif %}
    {% if is_bot %}
    <p>Eres un bot</p>
    {% endif %}
    <!-- Otra forma de mostrarlo desde las vistas -->
    <p>¿Es táctil? {{ is_touch }}</p>

    <p>IP Host: {{ host_ip }}</p>
    <p>IP Cliente: {{ client_ip }}</p>
</body>
</html>