<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscaminas</title>
     <style>
      body{
            background-color: #E4C290;
            padding-top: 18%;
            text-align: center;
        }
    </style>
  </head>
  <body class="">
    <main  class="container_">
      <div class="card">

      <h1>PROYECTO USER-AGENT CON DJANGO</h1>

      <div class="info">
        <p>Antonio Parrilla Álvarez</p>
      </div>

        <a href="{% url 'info' %}">INFO DE TU DISPOSITIVO 🫡</a>

      </div>

    </main>

  </body>
</html>